{% extends 'base.html' %}

{% block titulo_conteudo %} Formulário de Categoria {% endblock %}

{% block conteudo %}

<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

    {{ form.as_p }}

    <button class="btn btn-primary mt-4" type="submit">
        Salvar
    </button>

    <a href="{% url 'categoria' %}" class="btn btn-secondary mt-4">
        Voltar
    </a>

    
</form>

{% endblock %}
