{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Categoria {% endblock %}

{% block conteudo %}

<button onclick="location.href='{% url 'form_categoria' %}'" class="btn btn-primary">Nova Categoria</button>
<button onclick="location.href=''" class="btn btn-primary">Recarregar</button>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Ordem</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.ordem }}</td>
            <td>
                <button onclick="location.href='{% url 'editar_categoria' item.id %}'" class="btn btn-warning">Alterar</button>
                <button onclick="location.href='{% url 'detalhes_categoria' item.id %}'" class="btn btn-info">Detalhes</button>
                <button onclick="if(confirm('Tem certeza que deseja remover este registro?')){ location.href='{% url 'remover_categoria' item.id %}'; }" class="btn btn-danger">Excluir</button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

