{% extends 'base.html' %}

{% block conteudo %}

<h3>Teste 1 - Autocomplete</h3>

<input type="text" id="teste" class="form-control autocomplete">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
    $(".autocomplete").autocomplete({
        source: [
            "Notebook",
            "Mouse",
            "Teclado",
            "Monitor",
            "Impressora"
        ]
    });
</script>

{% endblock %}
