{% extends 'base.html' %}

{% block titulo_conteudo %}
Detalhes do Pedido
{% endblock %}

{% block conteudo %}

<h5>Pedido Nº {{ pedido.id }}</h5>
<p><b>Cliente:</b> {{ pedido.cliente }}</p>
<p><b>Status:</b> {{ pedido.get_status_display }}</p>
<p><b>Data:</b> {{ pedido.data }}</p>

<hr>

<h5>Adicionar Item</h5>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Adicionar</button>
</form>

<hr>

<h5>Itens do Pedido</h5>

<table class="table table-bordered">
    <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Subtotal</th>
    </tr>

    {% for item in itens %}
    <tr>
        <td>{{ item.produto }}</td>
        <td>{{ item.quantidade }}</td>
        <td>R$ {{ item.valor }}</td>
        <td>R$ {{ item.subtotal }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" class="text-center">
            Nenhum item adicionado.
        </td>
    </tr>
    {% endfor %}
</table>

<h4 class="text-end">Total: R$ {{ total }}</h4>

<a href="{% url 'pedido' %}" class="btn btn-secondary mt-3">Voltar</a>

{% endblock %}

